.filters {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(237, 240, 245);
  color: rgb(19, 18, 18) !important;
  position: sticky;

  top: 73px;
}
.filterwrapper {
  padding: 20px;
  color: rgb(12, 11, 11);
}
.filtermenu {
  margin: bottom 10px;
}
.filterTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: rgb(15, 15, 15);
  margin-top: 95px !important;
  margin-left: 25px !important;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}
.filtericons {
  padding-right: 15px !important;
}

.filterList {
  list-style: none;
  padding: 5px;
}
.filterlistitems {
  padding: 15px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.filterlistitems:hover {
  background-color: #a4d6cd;
  color: black;
}
.filterlistitemsnohover {
  padding: 15px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
#inline-1,
#inline-2,
#inline-3,
#inline-4,
#inline-5 {
  margin-left: 5px !important;
  margin-right: 10px !important;
  padding: 5px 5px !important;
}
