.cardcontainer {
  width: 280px;
  height: 450px;
  margin: 0px;
  margin-right: 0;
}

.card {
  border-radius: 25px;
  max-width: 620px;
  height: 420px;
  box-shadow: -5px 6px 1px rgba(0, 0, 0, 0.3);
  padding: 5px !important;
  margin: 25px !important;
  margin-top: 0;
  display: flex;
}

.card-head {
  position: relative;
  height: 200px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  border-radius: 25px 25px 0 0;
}

.card-logo {
  width: 55px;
  margin: 20px;
}

.product-img {
  position: absolute;
  left: 0;
  margin-top: 0px;
  margin-left: 50px;
  padding-top: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 15px !important;
}

.product-desc {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 3px !important;
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-bottom: 15px !important;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  margin-left: 5px !important;
  padding: 0px 0px 5px 0px !important;
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

/* .product-title {
  font-size: small;
  font-weight: 500;
  letter-spacing: 0px;
} */

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #1f1cf8;
  padding: 2px 5px;

  top: -2px;
  margin-left: 5px;
  width: fit-content !important;
}
.deliverybadge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #1f1cf8;
  padding: 2px 5px !important;

  top: -2px;
  margin-left: 0px !important;

  width: 140px !important;
}

.product-rating {
  padding: 0 50px !important;

  font-size: 15px;
}

.deliverydiv {
  margin-top: 2px !important;
  margin-left: 20px !important;
  padding-top: 4px !important;
  padding-bottom: 5px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.returndiv {
  margin-top: 5px !important;
  margin-left: 40px !important;
  margin-bottom: 5px !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  padding-left: 40px !important;
  padding-right: 25px !important;
}

.product-rating i.grey {
  color: #acacab;
}

.product-price {
  position: absolute;
  background: #071102;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  right: 21px;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: 0px !important;
  margin-right: 0px !important;
  padding-bottom: 2px !important;
  box-shadow: -10px 20px 15px -10px rgba(83, 83, 80, 0.794);
}

/* #cartbtns {
  display: flex !important;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
  margin-left: 10px !important;
  font-size: 30px !important;
  position: sticky !important;
  border-radius: 12px !important;
} */
.card-footer {
  position: sticky;
  max-height: 35px;
  display: block;
  width: 100%;
  height: 10px;
  margin-top: 20px !important;
  margin-left: 8px !important;
  padding: 5px 5px !important;
  border-top: 0;
  align-self: flex-end;
  flex: 1 1 auto;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 230px;
  max-height: 330px;
  border-radius: 10%;
  margin: auto;
  text-align: center;
  font-family: arial;
  position: relative;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 7px;
  color: white;
  background-color: rgb(25, 26, 22);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.cardcontainer {
  display: flex;
  justify-content: center;
  width: 105% !important;
  margin: 20px !important;
  padding: 20px !important;
  -webkit-box-shadow: 1px 4px 12px 9px rgba(226, 241, 243, 0.82);
  box-shadow: 0px 0px 8px 9px rgba(230, 235, 236, 0.82);
}
.singleprod {
  margin: 10px 0px;

  display: flex;
  align-items: center;
} */
