.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  margin-top: 10px !important;
  background-color: rgb(248, 245, 245);
  color: white !important;
  position: sticky;
  top: 80px;
}
.sidebarWrapper {
  padding: 20px;
  color: #555;
}
.sidebarMenu {
  margin: bottom 10px;
}
.sidebarTitle {
  font-size: 15px;
  font-weight: 800;
  color: rgb(104, 100, 100);
  margin-left: 10px !important;
  padding-top: 10px !important;
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarlistitems {
  padding: 5px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px !important;
}
.sidebarlistitems.active,
.sidebarlistitems:hover {
  background-color: #a4d6cd;
}
.sidebarIcons {
  margin-right: 15px;
  margin-left: 5px !important;
  padding-right: 5px !important;
}
.link {
  text-decoration: none;
}
