* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}
form .form-inner .form-group input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.logindiv {
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: block;
  position: relative;
}

form::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: 1;
}

form .form-inner {
  position: relative;
  display: block;
  background: rgba(40, 57, 101, 0.9);
  opacity: 0.8;
  padding: 10px !important;
  z-index: 2;
  justify-content: center;
  width: 350px;
  height: 350px;
}
form .form-inner h2 {
  color: rgb(226, 222, 230);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px !important;
}
form .form-inner .form-group {
  display: block;
  width: 330px;
  margin-bottom: 15px !important;
}

.form-inner .form-group .label {
  display: block;
  color: rgb(237, 237, 243);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3px !important;
  transition: 0.5s;
}
.form-inner .form-group :focus-within .label {
  color: aqua;
}
form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px !important;
  background-color: #8ddff8;
  border-radius: 8px;
  transition: 0.4s;
}
form .form-inner .form-group input :focus {
  box-shadow: 0px 0 px 3px rgba(0, 0, 0, 0.2);
}
form .form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px !important;

  border-radius: 8px;
  border-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #fe4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: rgb(20, 20, 20);
  font-weight: 700;
  cursor: pointer;
}
form .form-inner input[type="submit"] :hover {
  background-position: 100% 0%;
}
.loginbtn {
  width: 45%;
  margin-top: 20px !important;
  margin-left: 80px !important;
  padding: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 15px;
  background-color: darkslateblue;
}
.caution {
  margin-top: -600px !important;
  margin-left: -450px !important;
}
